
    <body id="body-youth">
    <header id="header">
        <div id="header-content">

            <%= link_to image_tag('fearless_logo_crop.jpg', id:'logo'),'/' %>

            <div id="browser-menu-youth" >
            <a href="/" class="subRide">Home</a>
            <a href="about" class="subRide menu-about">About</a>

                <nav id="rides-drop">
                    <ul id="drop-menu">
                        <p class=" drop-item clearfix"><a href="about">Fearless Flyers Program</a></p>
<!--                        <p class="drop-item clearfix"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                        <p class="drop-item clearfix"><a href="staff">Board / Staff</a></p>
                        <p class="drop-item clearfix"><a href="youth">Youth Rider Profiles</a></p>
                        <p class="drop-item clearfix"><a href="supporters">Supporters</a></p>
                    </ul>
                </nav>
            <a href="photos" class="subRide">Photos</a>
            <a href="apply" class="subRide selected">Apply</a>

            <a target="_blank" href="https://flyers2018.causevox.com/" class="subRide" style="color: lightgreen">Donate</a>

            </div>
        </div>
        <div id="mobile_menu">
            <a href="/" class="subRide">Home</a>
            <a href="about.html" class="subRide mobile-menu-about">About</a>
                <div id="mobile-drop">
                    <p class="mobile-submenu"><a href="about">Flyers Program</a></p>
<!--                    <p class="mobile-submenu"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                    <p class="mobile-submenu"><a href="staff">Board / Staff</a></p>
                    <p class="mobile-submenu"><a href="youth">Youth Rider Profiles</a></p>
                    <p class="mobile-submenu"><a href="supporters">Supporters</a></p>
                </div>
            <a href="photos" class="subRide">Photos</a>
            <a href="apply" class="subRide selected">Apply</a>
            <a target="_blank" href="https://flyers2018.causevox.com/" class="subRide donate-button" style="color: lightgreen">Donate</a>
        </div>

        <div id="nav_lines">
            <p class="hamburger">
            </p>
        </div>
    </header>


        <div id="app-youthwidth">
           <div id="flyers-info">
            <h1>AN OUTCYCLING CLUB FOR YOUNG ADULTS AGES 16-21</h1><hr>
               <span id="flyers-goal">OUR GOAL: </span><span>To build self-confidence, leadership and cycling skills in young adults.</span>
            <h1>WHY JOIN THE FEARLESS FLYERS in 2018?</h1>

                    <ul>
                        <li>EARN A BRAND NEW BICYCLE, HELMET & LOCK UPON SUCCESSFUL COMPLETION OF THE PROGRAM.</li>
                        <li>Build your fitness strength, and endurance with other LGBTQA+ young adults.</li>
                        <li>Become more self-confident as an individual and a supportive team member.</li>
                        <li>Explore the best city in the world: NYC!</li>
                    </ul>
               <h1>WHAT AM I SIGNING UP FOR?</h1>
               <p>Fearless Flyers is a spring cycling program designed for bike-riders of all fitness levels. Each member will be provided with a bike and helmet, safety and skills workshops, and Saturday morning training rides to prepare for the <%= link_to 'NYC Pride Ride', 'http://www.nycprideride.org', target:'_blank', style:"color:rgba(10,151,255,1)" %>.</p>

               <div id="youthdates">
                <h2>WARM UP DATE: Saturday, March 10</h2>
                  <p>Information and Nutrition workshops.</p>
                <h2>MANDATORY MEETINGS: (MEMBERS MUST COMPLETE TO EARN A BIKE)</h2>
                   <p>Bike NY Safety and Street Skills Workshop:<br>-Saturdays: March 17, 24</p>
                <h2>SPRING TRAINING RIDES: (MEMBERS MUST COMPLETE AT LEAST 8 TO EARN A BIKE)</h2>
                   <p>-Saturdays: April 7, 14, 21, 28, May 5, 12, 19, 26, June 2<br>-Sunday: June 10, <%= link_to "NYC Pride Ride", "https://www.nycprideride.org", target:"blank", style:"color:forestgreen; " %> (mandatory)</p>
                <h2>ALL WORKSHOPS & TRAINING RIDES MEET AT:</h2>
                   <p>Al's Cycle Solution - 693 Tenth Ave. (btw 47th & 48th Street) @ 9:30am SHARP</p>
               </div>

               <h1>HOW DO I JOIN FEARLESS FLYERS?</h1>
                    <p>1. You must be age 16-21.</p>
                    <p>2. You must already know how to ride a bike and be in good physical health.</p>
                    <p>3. Submit an application for consideration by Thursday, February 15, 2018.
                     <%= link_to "CLICK HERE TO APPLY.", application_path, style:"color: forestgreen; text-decoration: underline; font-weight: bold; " %></p>
                    <hr>
               <p id="flyer-questions">For any questions, please contact Diany Disla at dianydisla@outcycling.org<br>Outcycling, Inc. 1460 Broadway, 8nd floor, New York, NY 10036 - <%= link_to 'Outcycling.org', "http://www.outcycling.org", style:"color: rgba(10,151,255,1)", target:"blank" %></p>


           </div>

        </div> <!--youthwidth-->


        <div id="partners" class="youth-footer">
           <ul>

            <ul>

               <%= logos %>

            </ul>


            </ul>
            <div id="contact-info">
                <p>Outcycling, 1460 Broadway, 8nd floor, New York, NY 10036</p>
            </div>
        </div>

     <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
        <%= javascript_include_tag 'app' %>

<!--        google analytics below-->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81832841-2', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
