<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fearless Flyers</title>
        
        <%= favicon_link_tag 'favicon' %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
          <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">
        
        
       
        <%= stylesheet_link_tag 'justifiedGallery.min.css' %>
        <%= stylesheet_link_tag 'baguetteBox.min.css' %>
        <%= stylesheet_link_tag 'application.css' %>
        
    </head>
    <body id="body-youth">
    <header id="header">
        <div id="header-content">
            
            <%= link_to image_tag('fearless_logo_crop.jpg', id: 'logo'),'/' %>
            
     
            
            <div id="browser-menu-youth" >
            <a href="/" class="subRide">Home</a>
            <a href="about" class="subRide menu-about">About</a>        
                
                <nav id="rides-drop">
                    <ul id="drop-menu">
                        <p class=" drop-item clearfix"><a href="about">Fearless Flyers Program</a></p>
<!--                        <p class="drop-item clearfix"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                        <p class="drop-item clearfix"><a href="staff">Board / Staff</a></p>
                        <p class="drop-item clearfix"><a href="youth">Youth Rider Profiles</a></p>
                        <p class="drop-item clearfix"><a href="supporters">Supporters</a></p>
                    </ul>
                </nav>    
            <a href="photos" class="subRide selected">Photos</a>
            <a href="apply" class="subRide">Apply</a>
            <a href="/sign_in" class="subRide" disabled>Sign-In</a>     
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide" style="color: lightgreen">Donate</a>
   
            </div>
        </div>    
        <div id="mobile_menu">
            <a href="/" class="subRide">Home</a>
            <a href="about.html" class="subRide mobile-menu-about">About</a>
                <div id="mobile-drop">
                    <p class="mobile-submenu"><a href="about">Flyers Program</a></p>
<!--                    <p class="mobile-submenu"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                    <p class="mobile-submenu"><a href="staff">Board / Staff</a></p>
                    <p class="mobile-submenu"><a href="youth">Youth Rider Profiles</a></p>
                    <p class="mobile-submenu"><a href="supporters">Supporters</a></p>
                </div>    
            <a href="photos" class="subRide selected">Photos</a>
            <a href="apply" class="subRide">Apply</a> 
            <a href="/sign_in" class="subRide">Sign In</a>
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide donate-button" style="color: lightgreen">Donate</a>
        </div>
         
        <div id="nav_lines">
            <p class="hamburger">
            </p>
        </div>    
    </header>
        
        <div class="gallery">

            <a href="<%= image_path('diany_victorious.jpg')%>" title="Diany, feeling victorious." ><img src="<%= image_path('diany_victorious.jpg')%>" alt="Diany, feeling victorious."></a>

            <a href="<%= image_path('group_bywater.jpg')%>" title="Group By The Water" ><img src="<%= image_path('group_bywater.jpg')%>" alt="Group By The Water"></a>

            <a href="<%= image_path('instruction2.jpg')%>" title="Instruction" ><img src="<%= image_path('instruction2.jpg')%>" alt="Instruction"></a>

            <a href="<%= image_path('instruction1.jpg')%>" title="Instruction" ><img src="<%= image_path('instruction1.jpg')%>" alt="Instruction"></a>

            <a href="<%= image_path('diany_ride.jpg')%>" title="Diany riding on the GWB." ><img src="<%= image_path('diany_ride.jpg')%>" alt="Diany riding on the GWB."></a>
            
            <a href="<%= image_path('diany_smile.jpg')%>" title="Happy to be on the road." ><img src="<%= image_path('diany_smile.jpg')%>" alt="Happy to be on the road."></a>
            
            <a href="<%= image_path('fearless_couple.jpg')%>" title="Fearless couple." ><img src="<%= image_path('fearless_couple.jpg')%>" alt="Fearless couple."></a>
            
            <a href="<%= image_path('flyer_crew.jpg')%>" title="Having fun in the sun." ><img src="<%= image_path('flyer_crew.jpg')%>" alt="Having fun in the sun."></a>
            
            <a href="<%= image_path('flyer_friends.jpg')%>" title="Flyer friends." ><img src="<%= image_path('flyer_friends.jpg')%>" alt="Flyer friends."></a>
            
            <a href="<%= image_path('flyer_group.jpg')%>" title="Flyer group photo." ><img src="<%= image_path('flyer_group.jpg')%>" alt="Flyer group photo."></a>
            
            <a href="<%= image_path('flyer_lunch_stop.jpg')%>" title="Lunch in the park." ><img src="<%= image_path('flyer_lunch_stop.jpg')%>" alt="Lunch in the park."></a>
            
            <a href="<%= image_path('flyer_team.jpg')%>" title="Out on the road." ><img src="<%= image_path('flyer_team.jpg')%>" alt="Out on the road."></a>
            
            <a href="<%= image_path('flyers_table.jpg')%>" title="Lunch stop." ><img src="<%= image_path('flyers_table.jpg')%>" alt="Lunch stop."></a>
                        
            <a href="<%= image_path('flyers_graduation2.jpg')%>" title="Flyers graduation 2015." ><img src="<%= image_path('flyers_graduation2.jpg')%>" alt="Flyers graduation 2015."></a>
            
            <a href="<%= image_path('flyers_graduation.jpg')%>" title="Fearless Flyers graduation 2016" ><img src="<%= image_path('flyers_graduation.jpg')%>" alt="Fearless Flyers graduation 2016"></a>
            
            <a href="<%= image_path('four_guys.jpg')%>" title="Flyer friends." ><img src="<%= image_path('four_guys.jpg')%>" alt="Flyer friends."></a>
            
            <a href="<%= image_path('foursome_group.jpg')%>" title="Fearless foursome." ><img src="<%= image_path('foursome_group.jpg')%>" alt="Fearless foursome."></a>
                        
            <a href="<%= image_path('flyers_table.jpg')%>" title="Lunch stop." ><img src="<%= image_path('flyers_table.jpg')%>" alt="Lunch stop."></a>
                        
            <a href="<%= image_path('group_shot_bywater.jpg')%>" title="Group shot on the west side bike path." ><img src="<%= image_path('group_shot_bywater.jpg')%>" alt="Group shot on the west side bike path."></a>
             
            <a href="<%= image_path('group_shot.jpg')%>" title="Group shot." ><img src="<%= image_path('group_shot.jpg')%>" alt="Group shot."></a>
                        
            <a href="<%= image_path('happy_group.jpg')%>" title="Happy to be riding." ><img src="<%= image_path('happy_group.jpg')%>" alt="Happy to be riding."></a>
            
            <a href="<%= image_path('josh_ride.jpg')%>" title="Josh, enjoying the ride." ><img src="<%= image_path('josh_ride.jpg')%>" alt="Josh, enjoying the ride."></a>
            
            <a href="<%= image_path('leads.jpg')%>" title="Ride leaders." ><img src="<%= image_path('leads.jpg')%>" alt="Ride leaders."></a>
            
            <a href="<%= image_path('looking_ahead.jpg')%>" title="Looking ahead." ><img src="<%= image_path('looking_ahead.jpg')%>" alt="Looking ahead."></a>
            
            <a href="<%= image_path('maireni_leo.jpg')%>" title="Maireni & Leo." ><img src="<%= image_path('maireni_leo.jpg')%>" alt="Maireni & Leo."></a>
            
            <a href="<%= image_path('tiffany_maireni_leo.jpg')%>" title="Tiffany, Maireni & Leo." ><img src="<%= image_path('tiffany_maireni_leo.jpg')%>" alt="Tiffany, Maireni & Leo."></a>
            
            <a href="<%= image_path('trio.jpg')%>" title="Trio." ><img src="<%= image_path('trio.jpg')%>" alt="Trio."></a>
            
            <a href="<%= image_path('warm_up.jpg')%>" title="Warming up." ><img src="<%= image_path('warm_up.jpg')%>" alt="Warming up."></a>
    
        
        </div>
        
        
   
        <div id="partners" class="youth-footer">
           <ul>

        <!--<li><%= link_to image_tag('center_logo.png'), "https://gaycenter.org/", target:"_blank" %></li>-->
               
            <li><%= link_to image_tag('outcyclinglogo.png'), "http://www.outcycling.org/", target:"_blank" %></li>

        <!--<li><%= link_to image_tag('bike_ny.png'), "http://www.bike.nyc/", target:"_blank" %></li> -->
                

            </ul>
        </div> 
        
        <%= javascript_include_tag 'jquery.justifiedGallery.min.js' %>
   
        
        
        
        <%= javascript_include_tag 'app' %>
        
        <script>
            $(document).ready(function(){
                baguetteBox.run('.gallery', {
            
                });
            });
            
        </script>
        
        
<!--        google analytics below-->
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81832841-2', 'auto');
          ga('send', 'pageview');

        </script>        
        
        
    </body>  
    
    
</html>