<%= form_for(@flyer) do |f| %>
    <div class="field">
        <%= f.label :firstname %>
        <%= text_field(:flyer, :firstname) %><br><br>
        <%= f.label :lastname %>
        <%= text_field(:flyer, :lastname) %><br><br>

        <%= f.label :email %>
        <%= email_field(:flyer, :email) %><br><br>
        <%= f.label :phone %>
        <%= text_field(:flyer, :phone) %><br><br>

        <span>Password: <%= f.password_field :password, :placeholder => "Password" %></span>
        <br> <br>
        <%= f.submit "Create" %>
    </div>

<% end %>
