<br>
<% if current_flyer %>
    <span>Logged In: </span>
    <span><%= current_flyer.email %></span>
    <br>
    <p><%= link_to "Log Out", logout_path, method: "delete",style:"color: grey" %></p>
<% end %>
<br>
<div id="show_rider">
    <p><%= link_to "Back To List of Riders", '/flyers',style:"color:gray" %></p>

    <h3><strong>Name:</strong> <%= @rider.firstname %> <%= @rider.lastname %></h3>
    <p><strong>Email:</strong> <%= @rider.email %></p>
    <p><strong>Birth Date:</strong> <%= @rider.birthdate %></p>
    <p><strong>Phone:</strong> <%= @rider.phone %></p>
    <p><strong>Address:</strong> <%= @rider.address %>
     <strong>Apt:</strong>   <%= @rider.apt %></p>
    <p><strong>City:</strong> <%= @rider.city %>
    <strong>Zip:</strong> <%= @rider.zip %></p>
    <p><strong>School:</strong> <%= @rider.school %></p>
    <p><strong>Height:</strong> <%= @rider.feet %> <%= @rider.inches %></p>
    <p><strong>Shirt size:</strong> <%= @rider.shirt %></p>
    <p><strong>Comfortable on a Bike?</strong> <%= @rider.ridebike %></p>
    <p><strong>Physical Activity?</strong> <%= @rider.physical %></p>
    <p><strong>Activity Description:</strong> <%= @rider.actdesc %></p>
    <p><strong>Why Join:</strong> <%= @rider.whyjoin %></p>
    <p><strong>Bike Experience:</strong> <%= @rider.bikeexp %></p>
    <p><strong>Athletic Experience:</strong> <%= @rider.athexp %></p>
    <p><strong>Goal:</strong> <%= @rider.goal %></p>
    <p><strong>Allergies:</strong> <%= @rider.allergies %></p>
    <p><strong>Health issues:</strong> <%= @rider.health %></p>
    <p><strong>Interview Date:</strong> <%= @rider.interview.strftime("%B %d, %Y") rescue "Not scheduled yet." %></p>
    <p><strong>Admin Notes:</strong> <%= @rider.notes %></p>
    <p><strong>ACCEPTED:</strong> <%= @rider.accepted == false ? "NO" : "YES" %></p>

<%= link_to "Edit Rider", edit_rider_path(@rider), style:"color:gray" %>
<br>
<br>
<%= link_to "Back To Full List", '/flyers',style:"color:gray" %>

</div>
