
    <body id="body-youth">
    <header id="header">
        <div id="header-content">

            <%= link_to image_tag('fearless_logo_crop.jpg', id:'logo'),'/' %>

            <div id="browser-menu-youth" >
            <a href="/" class="subRide">Home</a>
            <a href="about" class="subRide menu-about">About</a>

                <nav id="rides-drop">
                    <ul id="drop-menu">
                        <p class=" drop-item clearfix"><a href="/static_pages/about">Fearless Flyers Program</a></p>
<!--                        <p class="drop-item clearfix"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                        <p class="drop-item clearfix"><a href="/static_pages/staff">Board / Staff</a></p>
                        <p class="drop-item clearfix"><a href="/static_pages/youth">Youth Rider Profiles</a></p>
                        <p class="drop-item clearfix"><a href="/static_pages/supporters">Supporters</a></p>
                    </ul>
                </nav>
            <a href="/static_pages/photos" class="subRide">Photos</a>
            <a href="../static_pages/apply" class="subRide selected">Apply</a>

            <a target="_blank" href="https://flyers2018.causevox.com/" class="subRide" style="color: lightgreen">Donate</a>

            </div>
        </div>
        <div id="mobile_menu">
            <a href="/" class="subRide">Home</a>
            <a href="about.html" class="subRide mobile-menu-about">About</a>
                <div id="mobile-drop">
                    <p class="mobile-submenu"><a href="/static_pages/about">Flyers Program</a></p>
<!--                    <p class="mobile-submenu"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                    <p class="mobile-submenu"><a href="/static_pages/staff">Board / Staff</a></p>
                    <p class="mobile-submenu"><a href="/static_pages/youth">Youth Rider Profiles</a></p>
                    <p class="mobile-submenu"><a href="/static_pages/supporters">Supporters</a></p>
                </div>
            <a href="/static_pages/photos" class="subRide">Photos</a>
            <a href="/static_pages/apply" class="subRide selected">Apply</a>
            <a target="_blank" href="https://flyers2018.causevox.com/" class="subRide donate-button" style="color: lightgreen">Donate</a>
        </div>

        <div id="nav_lines">
            <p class="hamburger">
            </p>
        </div>
    </header>



        <div id="app-youthwidth">

        <div id="lower-apply">
          <div id="applicationheader">

          <%= image_tag 'flyershead.png',id: "flyershead" %>

          <h1>2018 APPLICATION</h1>

          <% if @rider.errors.any? %>

            <div class="total_errors">
              <span class="error_msg">Please correct <%= pluralize(@rider.errors.count, "error") %> on the form.</span>
            </div>
          <% end %>


          <%= form_for(@rider) do |f| %>
      <div class="field">
        <% if !(@rider.errors[:firstname].empty?) %>
          <span class="error_msg">First Name <%= @rider.errors[:firstname].first %></span>
        <% end %><br>
        <span><%= f.label :firstname,"First Name" %></span>
        <span><%= text_field(:rider, :firstname, style:"width: 250px") %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:lastname].empty?) %>
          <span class="error_msg">Last Name <%= @rider.errors[:lastname].first %></span>
        <% end %><br>
        <span><%= f.label :lastname, "Last Name" %></span>
        <span><%= text_field(:rider, :lastname, style:"width: 250px") %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:birthdate].empty?) %>
          <span class="error_msg">Birth Date <%= @rider.errors[:birthdate].first %></span>
        <% end %><br>
        <span><%= f.label :birthdate, "Birth Date" %></span>
        <span><%= date_select(:rider, :birthdate) %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:email].empty?) %>
          <span class="error_msg">Email <%= @rider.errors[:email].first %></span>
        <% end %><br>
        <span><%= f.label :email %></span>
        <span><%= email_field(:rider, :email, style:"width: 250px") %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:phone].empty?) %>
          <span class="error_msg">Phone <%= @rider.errors[:phone].first %></span>
        <% end %><br>
        <span><%= f.label :phone %></span>
        <span><%= text_field(:rider, :phone) %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:address].empty?) %>
          <span class="error_msg">Address <%= @rider.errors[:address].first %></span>
        <% end %><br>
        <span><%= f.label :address %></span>
        <span><%= text_field(:rider, :address, style:"width: 233px") %></span>
        <span><%= f.label :apt %></span>
        <span><%= text_field(:rider, :apt, style:"width: 100px") %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:city].empty?) %>
          <span class="error_msg">City <%= @rider.errors[:city].first %></span>
        <% end %><br>
        <span><%= f.label :city %></span>
        <span><%= text_field(:rider, :city, style:"width: 250px") %></span><br><br>
        <% if !(@rider.errors[:zip].empty?) %>
          <span class="error_msg">Zip Code <%= @rider.errors[:zip].first %></span>
        <% end %><br>
        <span><%= f.label :zip %></span>
        <span><%= text_field(:rider, :zip, style:"width: 100px") %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:school].empty?) %>
          <span class="error_msg">School Name <%= @rider.errors[:school].first %></span>
        <% end %><br>
        <span><%= f.label :school, "School (if applicable)" %></span>
        <span><%= text_field(:rider, :school) %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:feet].empty?) %>
          <span class="error_msg">Height <%= @rider.errors[:feet].first %></span>
        <% end %><br>
        <span style="margin-left: 10px;">Height:</span>
        <span><%= f.label :feet %></span>
        <span><%= number_field(:rider, :feet, in: 4..6) %></span>
        <span><%= f.label :inches %></span>
        <span><%= number_field(:rider, :inches, in: 0..11) %></span>
      </div>
      <div class="field">
        <% if !(@rider.errors[:shirt].empty?) %>
          <span class="error_msg">Shirt <%= @rider.errors[:shirt].first %></span>
        <% end %><br>
        <span><%= f.label :shirt_size, "T-shirt size:" %></span>
        <span><%= f.radio_button(:shirt, "S") %></span>
            <span><%= label_tag(:shirt, "Small") %></span>
        <span><%= f.radio_button(:shirt, "M") %></span>
            <span><%= label_tag(:shirt, "Medium") %></span>
        <span><%= f.radio_button(:shirt, "L") %></span>
            <span><%= label_tag(:shirt, "Large") %></span>
        <span><%= f.radio_button(:shirt, "XL") %></span>
            <span><%= label_tag(:shirt, "X-Large") %></span><br><br>

            <% if !(@rider.errors[:ridebike].empty?) %>
              <span class="error_msg">Ride Bike <%= @rider.errors[:ridebike].first %></span>
            <% end %><br>
        <span><%= f.label :ridebike, "How comfortable do you feel riding a bike in NYC?" %></span><br>
        <span><%= f.radio_button(:ridebike, "Very") %></span>
            <span><%= label_tag(:ridebike, "Very") %></span>
        <span><%= f.radio_button(:ridebike, "Somewhat") %></span>
            <span><%= label_tag(:ridebike, "Somewhat") %></span>
        <span><%= f.radio_button(:ridebike, "Not") %></span>
            <span><%= label_tag(:ridebike, "Not Comfortable") %></span>

      </div>
      <div class="field">
        <% if !(@rider.errors[:physical].empty?) %>
          <span class="error_msg">Answer <%= @rider.errors[:physical].first %></span>
        <% end %><br>
        <span><%= f.label :physical, "Do you currently take part in physical activities?" %></span> <br>
        <span><%= f.radio_button(:physical, "Yes") %></span>
          <span><%= label_tag(:physical, "Yes") %></span>
        <span><%= f.radio_button(:physical, "No") %></span>
          <span><%= label_tag(:physical, "No") %></span><br><br>
        <span><%= f.label :actdesc, "If yes, please describe:" %></span> <br>
          <span><%= text_area(:rider, :actdesc) %></span>
      </div>
      <div class="field">
        <p>Please answer the following four questions in 2 or 3 sentences:</p>
        <% if !(@rider.errors[:whyjoin].empty?) %>
          <span class="error_msg">Answer <%= @rider.errors[:whyjoin].first %></span>
        <% end %><br>
        <%= f.label :whyjoin, "Why are you interested in joining the Fearless Flyers?" %> <br>
        <%= text_area(:rider, :whyjoin) %>
      </div>
      <div class="field">
        <% if !(@rider.errors[:bikeexp].empty?) %>
          <span class="error_msg">Answer <%= @rider.errors[:bikeexp].first %></span>
        <% end %><br>
        <%= f.label :bikeexp, "Briefly describe your experience riding bikes:" %> <br>
        <%= text_area(:rider, :bikeexp) %>
      </div>
      <div class="field">
        <% if !(@rider.errors[:athexp].empty?) %>
          <span class="error_msg">Answer <%= @rider.errors[:athexp].first %></span>
        <% end %><br>
        <%= f.label :athexp, "Have you participated in an organized athletic group before?" %> <br>
        <%= text_area(:rider, :athexp) %>
      </div>
      <div class="field">
        <% if !(@rider.errors[:goal].empty?) %>
          <span class="error_msg">Answer <%= @rider.errors[:goal].first %></span>
        <% end %><br>
        <%= f.label :goal, "Please describe one personal goal in joining the Fearless Flyers:" %> <br>
        <%= text_area(:rider, :goal) %><br><br>
      </div>

      <div class="field">
        <%= f.label :allergies, "Please list any food allergies we should be aware of:" %> <br>
        <%= text_area(:rider, :allergies) %><br><br>
      </div>

      <div class="field">
        <%= f.label :health, "Please list any health issues we should be aware of:" %> <br>
        <%= text_area(:rider, :health) %><br>
      </div>

      <div class="field">
          <% if !(@rider.errors[:waiver].empty?) %>
            <span class="error_msg">Waiver
              <%= @rider.errors[:waiver].first %>
            </span>
          <% end %>

          <label id="read_waiver" for="application_waiver">
            <span><%= f.check_box :waiver, id:"application_waiver" %>

            I <%= link_to "understand and accept all terms and conditions", '/waiver', style: "color: forestgreen; text-decoration: underline", target:"blank" %>
            <%= label_tag :waiver, "of the OutCycling waiver." %></span>
          </label>
        </div>

       <%= f.submit "Submit", class:"button2" %>

    <% end %>

        </div>
        </div>
        </div> <!--youthwidth-->
         <div id="partners" class="youth-footer">
           <ul>

            <ul>

               <%= logos %>

            </ul>

            </ul>
            <div id="contact-info">
                <p>Outcycling | 115 West 18th Street, NYC, 2nd floor | graham@outcycling.org</p>
            </div>
        </div>

     <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
        <%= javascript_include_tag "app" %>

<!--        google analytics below-->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81832841-2', 'auto');
          ga('send', 'pageview');

        </script>


    </body>
