<!DOCTYPE html>
<html>
  <head>
    <title>Fearless Flyers</title>
    <%= csrf_meta_tags %>


    <meta charset="utf-8">
    <% content_for :title, "Fearless Flyers" %>

    <%= favicon_link_tag 'favicon' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">

    <%= stylesheet_link_tag("application.css") %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




    <%= yield %>
  </body>
</html>
